<body>
    <h1>Adivina la canción</h1>
    <div>
        <img id="thumb" src="" alt="Pista Visual" style="max-width: 300px; display: none;">
    </div>
    <button onclick="playSnippet()">Reproducir fragmento</button>
    <input id="guess" type="text" placeholder="Tu respuesta" oninput="autocompleteGuess()" autocomplete="off">
    <div id="autocomplete-container" class="autocomplete-dropdown"></div>
    <button onclick="submitGuess()">Enviar</button>
</body>

<!-- Vinculamos el CSS externo -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<input type="hidden" id="gameMode" value="{{ mode }}">
