
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocaloid Heardle</title>
</head>
<body>
    <h1>Bienvenido a Vocaloid Heardle</h1>
    {% if username %}
        <p>¡Hola, {{ username }}!</p>
        <a href="/start/daily">Jugar Modo Diario</a><br>
        <a href="/start/unlimited">Jugar Modo Sin Límite</a><br>
        <a href="/logout">Cerrar Sesión</a>
    {% else %}
        <a href="/login">Iniciar Sesión</a><br>
        <a href="/register">Registrarse</a>
    {% endif %}
</body>
</html>
